div.paragraf {
	color: black;
	background-color: white;
	padding: 20px;
	width: 1400px;
	font-family: sans-serif;
  	font-style: normal;
  	background-color: #FFEBCD;
  	font-size: 12px;
  	display: flex;
}
h3{
	display: flex;
	text-align: center;
}
form {
	text-align: right;
	margin-left: auto;
}
body {
	background: white;
}
